<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Replenish balance</title>
</head>
<body>
<div th:replace="parts/header :: header"></div>
<div class="info" th:if="${additional}">
    <div class="alert alert-info" role="alert" th:text="#{message.replenised.balance(${additional})}">
        Your balance</div>
</div>
<div th:text="#{message.replenised.balance.user(${name})}"></div>
<form method="post" th:action="@{/add_money}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
    <div class="form-group">
        <label for="sum" class="card-text" th:text="#{message.input.sum}">Sum</label>
        <input required type="number" min="1" class="form-control" id="sum" th:placeholder="#{message.input.sum}"
               name="sum" style="max-width: 200px">
    </div>
    <button type="submit" class="btn btn-outline-info" th:text="#{button.submit}">Submit</button>
</form>

<div th:replace="parts/footer :: footer"></div>
</body>
</html>