<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Goods list page</title>
</head>
<body>
<div th:replace="parts/header :: header"></div>

<table class="table table-hover">
    <thead>
    <tr>
        <th th:text="#{var.category}"> Name</th>
        <th th:text="#{var.good.name}"> Price</th>
        <th th:text="#{var.price}"> Price</th>
        <th th:text="#{var.discount}"> Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="good : ${goods}">
        <td><span th:text="${good.category.name}"> Price </span></td>
        <td><span th:text="${good.name}"> Price </span></td>
        <td><span th:text="${good.price}"> Price </span></td>
        <td><span th:if="${good.discount ne null}" th:text="${good.discount.percent}"> Price </span></td>
        <td>
            <form method="post" th:action="@{list}" th:if="${!#lists.contains(order_goods, good)}">
                <input type="hidden" th:value="${good.id}" th:name="goodId">
                <button type="submit" class="btn btn-outline-info"
                        th:text="#{button.add}">Add
                </button>
            </form>
            <button type="submit" class="btn btn-outline-info" disabled th:if="${#lists.contains(order_goods, good)}"
                    th:text="#{button.added}">Added
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>