<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Goods list page</title>
</head>
<body>
<div id="app">
    <div th:replace="parts/header :: header"></div>
    <div class="alert" th:if="${param.error}">
        <div class="alert alert-danger" role="alert" th:text="#{message.good.not.found}">Not enough money!</div>
    </div>
    <div th:text="#{message.balance}" style="float: left;"></div>
    <span v-text="balance" style="float: left;"></span>
    <div th:text="#{message.currency}"></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{var.category}"> Category</th>
            <th th:text="#{var.good.name}"> Name</th>
            <th th:text="#{var.price}"> Price</th>
            <th th:text="#{var.discount}"> Discount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="good in goods">
            <td><span v-text="good.category.name"> Category </span></td>
            <td><span v-text="good.name"> Name </span></td>
            <td><span v-text="good.localizedPrice"> Price </span></td>
            <td><span v-if="good.discount !== null" v-text="good.discount.percent"> Discount </span></td>
            <td>
                <div v-if="orderGoods.indexOf(good) == -1">
                    <button class="btn btn-outline-info"
                            v-on:click="addGood(good)" th:text="#{button.add}">Add
                    </button>
                </div>
                <div v-if="orderGoods.indexOf(good) >= 0">
                    <button class="btn btn-outline-info"
                            th:text="#{button.added}">Added
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="parts/footer :: footer"></div>
</div>
<script type="text/javascript" src="js/order.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>