<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head">
    <title>Payment page</title>
</head>
<body>
<div id="app">
    <div th:replace="parts/header :: header"></div>
    <div th:text="#{message.balance}" style="float: left;"></div>
    <span v-text="balance" style="float: left;"></span>
    <div th:text="#{message.currency}"></div>
    <div class="alert" th:if="${param.error}">
        <div class="alert alert-danger" role="alert" th:text="#{message.not.enough.money}">Not enough money!</div>
    </div>
    <div style="margin-bottom: 80px">
        <table class="table table-hover">
            <thead>
            <tr>
                <th th:text="#{var.good.name}"> Name</th>
                <th th:text="#{var.price}"> Price</th>
                <th th:text="#{var.amount}"> Amount</th>
                <th th:text="#{var.discount}"> Discount</th>
                <th th:text="#{var.discount.implemented}">Discount implemented</th>
                <th th:text="#{var.cost}"> Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in orderItems">
                <td><span v-text="item.good.name"> Name </span></td>
                <td><span v-text="item.good.localizedPrice"> Price </span></td>
                <td>
                    <span v-text="item.amount+' '" style="float: left;"></span>
                    <span style="color: white">__</span>
                    <button v-on:click="setAmount(item.good)" class="btn btn-outline-info"
                            th:text="#{button.change}"></button>
                    <button v-on:click="deleteItem(item.good)" class="btn btn-outline-info"
                            th:text="#{button.delete}"></button>
                </td>
                <td><span v-if="item.good.discount != null"
                          v-text="item.good.discount.percent+'%'"> Discount </span>
                </td>
                <td><span v-text="item.useDiscount">Discount implemented</span></td>
                <td><span v-if="item.useDiscount" v-text="item.localizedDiscountCost"> Cost </span>
                    <span v-if="!item.useDiscount" v-text="item.localizedCost"> Cost </span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span v-text="sum"> Sum </span></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-info" style="position: absolute; right: 100px;" th:text="#{button.pay}"
                v-on:click="pay"></button>
        <br><br>
        <span>*при покупке товаров, если товаров со скидками больше чем  3, то  в расчете суммы используются тольке те 3 скидки которые наиболее выгодны покупателю.</span>
    </div>
    <div th:replace="parts/footer :: footer"></div>
</div>
<script type="text/javascript" src="js/pay.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>