<!--suppress ALL -->
<header th:fragment="adminheader" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div>
        <div class="nav">
            <nav>
                <button type="submit" class="btn btn-outline-info" onclick="location.href='?lang=en_US'"
                        th:text="#{language.en}"></button>
                <button type="submit" class="btn btn-outline-info" onclick="location.href='?lang=ua_UA'"
                        th:text="#{language.ua}"></button>
                <button type="button" class="btn btn-info" onclick="location.href='/logout'"
                        th:text="#{button.logout}"></button>
                <button type="button" class="btn btn-info" onclick="location.href='/add_money'"
                        th:text="#{button.add.money}"></button>
                <button type="button" class="btn btn-info" onclick="location.href='/list'"
                        th:text="#{button.good.list}"></button>
                <button type="button" class="btn btn-info" onclick="location.href='/pay'"
                        th:text="#{button.cart}"></button>
                <span th:text="#{message.balance(${#numbers.formatDecimal(balance, 0, 'COMMA', 2, 'POINT')})}"></span>
            </nav>
        </div>
    </div>
</header>